body {
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/eventos-list.jpeg');
    background-size: cover;
}

footer {
    width:100%;
    bottom: 0px;
    position: fixed;
}

.top-bot-buffer-evento {
	margin-top:15px;
	margin-bottom:15px;
}

.left-buffer-column-evento{
	margin-left:50px;
}

.left-buffer-column-date{
	margin-left:20px;
}
