{{#partial "content"}}
<link href="../../../css/home.css" rel="stylesheet">
<link href="../../../css/prenda.css" rel="stylesheet">

    <script>
$(function () {
    $('#checkbox-color-unico').change(function () {
        $("#div-color-secundario").toggle(!this.checked);
        $("#input-color-unico").val(String(this.checked));
    }).change();
});
	</script>


<div class="page">
     	<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 64%;" aria-valuenow="16" aria-valuemin="0" aria-valuemax="100">4</div>
</div>
  <div class="navbar">
    <div class="navbar-inner sliding">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon icon-back"></i>
        </a>
      </div>
 
      		<div class="title">
      		
       			<font size="6" font color="black">Imagen de la prenda</font>
      		</div>
    </div>
  </div>
  <div class="page-content">
    <div class="block">
    </div>
	

<br>
    	<form action="/guardarropas/{{idGuardarropa}}/prendas/colores" method="GET" class="list form-store-data" id="demo-form">
      <ul>
        
        <div class="container">
    	<form id="regForm">
        <div class="form-group">
 			<label for="nombre">
 				<font color="black">URL</font>
 			</label>
    	<input type="nombre" class="form-control" name="imagenPrenda"placeholder="Ingresa la URL de la imagen">
    	</div>
        			  {{#if error}}
   			<br><div class="alert alert-danger">{{error}}</div><br>
   			  {{/if}}
        <div class="item-inner">
        <div class="form-group">
           		
        </div>
        
        <div class="item-inner">
  			
  		<div class="item-input-wrap">
  		</div>
		</div>
        <br>
      	<div class="form-group">
   				<input type="submit" button type="submit" class="btn btn-primary" value="Siguiente"/>
        </div>
        
      </ul>
    </form>
  </div>
</div>
{{/partial}}
{{> layout.hbs }}
