<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://raw.githubusercontent.com/BlackrockDigital/startbootstrap-new-age/master/css/new-age.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../vendor/simple-line-icons/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="device-mockups/device-mockups.min.css">

    <!-- Custom styles for this template -->
    <link href="../css/new-age.min.css" rel="stylesheet">

    <script src="../js/new-age.js"></script>
    <script src="../js/new-age.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-dark" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">QueMePongo</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
            <ul class="navbar-nav ml-auto">
            	 <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/eventos/proximos">Calendario</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/guardarropas">Guardarropas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/eventos">Sugerencias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/sugerencias/aceptadas">Calificar</a>
                </li>
                <li class="nav-item">
                
                    <a href="http://que-me-pongo-04.herokuapp.com/login" method="DELETE" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Logout</a>

                </li>
            </ul>
    </div>
</nav>

{{#block "content"}}
{{/block}}

<footer>
    <div class="container">
        <p>&copy; QueMePongo 2019. Todos los derechos reservados.</p>
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="#">Privacidad</a>
            </li>
            <li class="list-inline-item">
                <a href="#">Términos</a>
            </li>
            <li class="list-inline-item">
                <a href="#">FAQ</a>
            </li>
        </ul>
    </div>
</footer>
</body>
</html>
