{{#partial "content"}}
<link href="../css/home.css" rel="stylesheet">
<link href="../css/guardarropas.css" rel="stylesheet">
<br>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="container">
    <div class="row">
            Tipo prenda: {{prenda.tipoPrenda}}
			Material: {{prenda.material}}
    </div>
</div>
<br>
{{/partial}}
{{> layout.hbs }}
